@model IEnumerable<NotreDameReBuildOfficial.Models.volunteerJob>
@{
    ViewBag.Title = "jobList";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h2>Opportunities List</h2>

<table>
    <thead>
        <tr>
            <th>Opportunity</th>
        </tr>
    </thead>

    @foreach (var job in Model)
    {
        <tr>
            <td>@job.jobTitle</td>
            <td>@Html.ActionLink("Applications", "passID", new { id = job.id }) / @Html.ActionLink("View", "jobInfo", new { id = job.id }) /@Html.ActionLink("Update", "updateJob", new { id = job.id }) / @Html.ActionLink("Delete", "deleteJob", new { id = job.id })</td>
        </tr>
    }

</table>

<br />
<br />
<a href='@Url.Action("InsertJob", "cmsVolunteer")'>
    <span class="buttonstyle">+ Add Volunteer</span>
</a>

