@model NotreDameReBuildOfficial.Models.userClass
@{
    ViewBag.Title = "User_Details";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<div>
    <h2 class="details">Manage Users</h2>
    <div class="details_Op">
        @Html.LabelFor(model => model.first_name, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.first_name)
    </div>
    <div class="details_Op">
        @Html.LabelFor(model => model.last_name, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.last_name)
    </div>
    <div class="details_Op">
        @Html.LabelFor(model => model.roleTitle, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.roleTitle)
    </div>
    <div class="details_Op">
        @Html.LabelFor(model => model.email, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.email)
    </div>
    <div class="details_Op">
        @Html.LabelFor(model => model.DOB, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.DOB)
    </div>
    <div class="details_Op">
        @Html.LabelFor(model => model.phone, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.phone)
    </div>
    <div class="details_Op">
        @Html.LabelFor(model => model.city, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.city)
    </div>
    <div class="details_Op">
        @Html.LabelFor(model => model.province, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.province)

    </div>
    <div class="details_Op">
        @Html.LabelFor(model => model.postal_code, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.postal_code)

    </div>
    
</div>

<br/><br/><br/>

<p>
    @Html.ActionLink("Back", "allUsers", null, new { @class = "buttonstyle" })
    @Html.ActionLink("Update", "Update_Users", new { id = Model.id }, new { @class = "buttonstyle" })
    @Html.ActionLink("Delete", "Delete_user", new { id = Model.id }, new { @class = "buttonstyle" })
</p>


