@model IEnumerable<NotreDameReBuildOfficial.Models.PDF_Filter>

@{
    ViewBag.Title = "Details ";
}


@if (Model.Any())
{
    <h1>@Model.ToList()[0].Category</h1>
}



        @*@foreach (var x in Model)
    {
            <table>
                <tr>
                    <td>@Html.ActionLink(x.PdfTitle, "Details", new { Category = x.Category })</td>
                    <td>@Html.DisplayFor(modelx => x.PdfUrl)</td>
                    <td>@Html.DisplayFor(modelx => x.Descr)</td>
                    <td>@Html.DisplayFor(modelx => x.Category)</td>
                </tr>
            </table>
    }*@

        @*<h3>@Html.DisplayFor(modelx => x.PdfTitle)</h3>*@
        @*@foreach (var x in Model)
            {

                {
                    string link = x.PdfTitle;
                    string path = Url.Content("~/Content/uploads/") + link.Replace(" ", "%20") + ".pdf";
                    string tag = "<a href=" + path + ">" + link + "</a>";
                    @Html.Raw(tag)
                }

            }*@

        <ul>
            @foreach (var file in Model)
        {
            var name = file.PdfTitle;
            var link = @Url.Content("~/Content/uploads/") + name.Replace(" ", "%20");

                <li>
                    <a href="@link">@name <i class="fa fa-file-pdf-o"></i></a>
                </li>
        }
        </ul>

        @*<p>
            View Pdf:<a href="~/Content/uploads/@Model.PdfTitle" target="_Blank">
                <div style="font-size: 80px;"><i class="fa fa-file-pdf-o"></i></div>
            </a>*@


