@model IEnumerable<NotreDameReBuildOfficial.Models.Job_category>
@{
    ViewBag.Title = "JobCategory";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}


<h2>Job Category</h2>
<br/><br/>
<p>
    @Html.ActionLink("Insert New category", "Insert_JobCategory", null, new { @class = "buttonstyle" })
    @Html.ActionLink("List Of Careers", "JobPosting", "cmsJobPosting", null, new { @class = "buttonstyle" })
</p>
<br /><br />

<table>
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.title</td>
                <td>
                    @Html.ActionLink("Update", "Update_JobCategory", new { id = x.id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete_JobCategory", new { id = x.id })
                </td>
            </tr>
        }
    </tbody>
</table>


