@model IEnumerable<NotreDameReBuildOfficial.Models.ER_wait_list>
@{
    ViewBag.Title = "ERwait_Patients";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h2>ER Wait Time</h2>

<br />

<div id="erlinks">
    <ul>
        <li>@Html.ActionLink("Waiting Patients", "ERwait_Patients", "cmsERwait", new { @class = "buttonstyle" })</li>
        <li>@Html.ActionLink("Add Patient", "ERwait_AddPatient", "cmsERwait", new { @class = "buttonstyle" })</li>
        <li>@Html.ActionLink("Patient History Data", "ERwait_PatientHistory", "cmsERwait", new { @class = "buttonstyle" })</li>
    </ul>
</div>

<br />

@* List Articles *@
<h3>Waiting Patients in ER</h3>
<table>
    <thead>
        <tr>
            <th>Line Number</th>
            <th>Arrival Time</th>
            <th>Patient Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>  
            
        @*Output patients in line - if counter is 1, replace with the string "Next"*@

        @{int counter = 1;
          string next = "Next"; }                
            @foreach (var patient in Model)
            {
                <tr>
                    <td>@{ if (counter == 1) { @next }else{ @counter }} </td>
                    <td>@Html.Raw(patient.arrivaltime)</td>
                    <td>@Html.Raw(patient.fname) @Html.Raw(patient.lname)</td>
                    <td><input type="submit" value="Remove" class="buttonstyle" id="wait_patient_id" name="@Html.Raw(patient.Id)"/></td>
                </tr>
                counter++;
            }   
    </tbody>
</table>