@model NotreDameReBuildOfficial.Models.navValidate

@{
    ViewBag.Title = "insertsubNav";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h1>Admin Navigation</h1>
<h2>Create a Sub Navigation</h2>

@using (@Html.BeginForm())
{
    <table>
        <tr>
            <td>@Html.Label("Title:")</td>
            <td>@Html.TextBoxFor(x => x.title)<span style="color:red">*</span></td>
        </tr>
        <tr>
            <td>@Html.Label("Folder:")</td>
            <td>@Html.TextBoxFor(x => x.controller)<span style="color:red">*</span></td>
        </tr>
        <tr>
            <td>@Html.Label("Page:")</td>
            <td>@Html.TextBoxFor(model => Model.pageView)<span style="color:red">*</span></td>
        </tr>
    </table>

    <input type="submit" value="Add Navigation" class="buttonstyle" />

}
