@model IEnumerable<NotreDameReBuildOfficial.Models.admin_subNavigation>
@{
    ViewBag.Title = "navInfo";

    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h1>Admin Navigation</h1>
<h2>Sub Pages</h2>

<table>
    <thead>
        <tr>
            <th>Pages</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>

    @foreach (var snav in Model)
    {
        <tr>
            <td>@snav.title</td>
            <td><a href='@Url.Action("adminsubNavUpdate", "adminNav", new { id = snav.id })'><i class="fa fa-pencil fa-lg"></i></a></td>
            <td>@if (snav.deletable == 1)
            { <a href='@Url.Action("adminsubNavDelete", "adminNav", new { id = snav.id })'><i class="fa fa-trash-o fa-lg"></i></a>}</td>
        </tr>
    }

</table>


<a href='@Url.Action("insertSubNav", "adminNav")'>
    <span class="buttonstyle">+ Add Sub Navigation</span>
</a>

<a href='@Url.Action("navList", "adminNav")'>
    <span class="buttonstyle">Back to Navigation</span>
</a>