@model IEnumerable<NotreDameReBuildOfficial.Models.admin_navigation>
@{
    ViewBag.Title = "navList";

    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h1>Admin Navigation</h1>
<h2>Created Navigation List</h2>

<table>
    <thead>
        <tr>
            <th>Admin Pages</th>
            <th>Sub Pages</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>

    @foreach (var nav in Model)
    {
        <tr>
            <td>@nav.title</td>
            <td><a href='@Url.Action("navInfo", "adminNav", new { id = nav.id })'><i class="fa fa-external-link-square fa-lg"></i></a></td>
            <td><a href='@Url.Action("adminNavUpdate", "adminNav", new { id = nav.id })'><i class="fa fa-pencil fa-lg"></i></a></td>
            <td>@if(nav.deletable == 1) { <a href='@Url.Action("adminNavDelete", "adminNav", new { id = nav.id })'><i class="fa fa-trash-o fa-lg"></i></a>}</td>
        </tr>
    }

</table>

<br />
<br />
<a href='@Url.Action("insertNav", "adminNav")'>
    <span class="buttonstyle">+ Add Navigation</span>
</a>
