@model NotreDameReBuildOfficial.Models.Donation

@{
    ViewBag.Title = "Donate";
}

<div id="donation">

    <h1 class="no-border">Make a Donation</h1>

    @using (Html.BeginForm())
    {

        <h3>Donation Information</h3>
      
        @Html.HiddenFor(model => model.date)
        
        @Html.LabelFor(model => model.amount, new { @class = "label amount" })
        <span>$ </span>
        @Html.TextBoxFor(model => model.amount, new { @class = "textbox" })
        <span style="color:red">*</span>
        @Html.ValidationMessageFor(model => model.amount)

        @Html.LabelFor(model => model.in_memory, new { @class = "label" })
        @Html.TextBoxFor(model => model.in_memory, new { @class = "textbox" })

        <div class="clear"></div>

        @Html.LabelFor(model => model.type, new { @class = "label donation-type" })
        <span style="color:red">*</span>
        @Html.ValidationMessageFor(model => model.type)<br />
        @Html.RadioButtonFor(x => x.type, 0) @:Immediate Needs
        @Html.RadioButtonFor(x => x.type, 1) @:The Foundation

        <br /><br />

        <h3>Contact Information</h3>

        @Html.LabelFor(model => model.first_name, new { @class = "label" })
        @Html.TextBoxFor(model => model.first_name, new { @class = "textbox" })
        <span style="color:red">*</span>
        @Html.ValidationMessageFor(model => model.first_name)

        <div class="clear"></div>

        @Html.LabelFor(model => model.last_name, new { @class = "label" })
        @Html.TextBoxFor(model => model.last_name, new { @class = "textbox" })
        <span style="color:red">*</span>
        @Html.ValidationMessageFor(model => model.last_name)

        <div class="clear"></div>

        @Html.LabelFor(model => model.organization, new { @class = "label" })
        @Html.TextBoxFor(model => model.organization, new { @class = "textbox" })

        <div class="clear"></div>

        @Html.LabelFor(model => model.address, new { @class = "label" })
        @Html.TextBoxFor(model => model.address, new { @class = "textbox" })
        <span style="color:red">*</span>
        @Html.ValidationMessageFor(model => model.address)

        <div class="clear"></div>

        @Html.LabelFor(model => model.city, new { @class = "label" })
        @Html.TextBoxFor(model => model.city, new { @class = "textbox" })
        <span style="color:red">*</span>
        @Html.ValidationMessageFor(model => model.city)

        <div class="clear"></div>

        @Html.LabelFor(model => model.province, new { @class = "label" })
        @Html.DropDownListFor(model => model.province, new[] {
                new SelectListItem() {Text = "ON"},
                new SelectListItem() {Text = "AB"},
                new SelectListItem() {Text = "BC"},
                new SelectListItem() {Text = "MB"},
                new SelectListItem() {Text = "NB"},
                new SelectListItem() {Text = "NL"},
                new SelectListItem() {Text = "NS"},
                new SelectListItem() {Text = "NT"},
                new SelectListItem() {Text = "NU"},
                new SelectListItem() {Text = "PE"},
                new SelectListItem() {Text = "QC"},
                new SelectListItem() {Text = "SK"},
                new SelectListItem() {Text = "YT"}
            }, "--", new { @class = "dropdown-list" })

        <div class="clear"></div>

        @Html.LabelFor(model => model.country, new { @class = "label" })
        @Html.TextBoxFor(model => model.country, new { @class = "textbox" })
        <span style="color:red">*</span>
        @Html.ValidationMessageFor(model => model.country)

        <div class="clear"></div>

        @Html.LabelFor(model => model.postal, new { @class = "label" })
        @Html.TextBoxFor(model => model.postal, new { @class = "textbox" })
        <span style="color:red">*</span>
        @Html.ValidationMessageFor(model => model.postal)

        <div class="clear"></div>

        @Html.LabelFor(model => model.phone, new { @class = "label" })
        @Html.TextBoxFor(model => model.phone, new { @class = "textbox" })
        <span style="color:red">*</span>
        @Html.ValidationMessageFor(model => model.phone)

        <div class="clear"></div>

        @Html.LabelFor(model => model.email, new { @class = "label" })
        @Html.TextBoxFor(model => model.email, new { @class = "textbox" })
        <span style="color:red">*</span>
        @Html.ValidationMessageFor(model => model.email)

        <br /><br />
        
    //PayPal button
    <form action="~/Home/Donate" method="post">
        <input type="hidden" name="cmd" value="_donations">
        <input type="hidden" name="business" value="admin@notredame.com">
        <input type="hidden" name="item_name" value="Donation">
        <input type="hidden" name="currency_code" value="CAD">
        <input type="hidden" name="amount">
        <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
        
    }

</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

}