@model NotreDameReBuildOfficial.Models.Job_category
@{
    ViewBag.Title = "Insert_JobCategory";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}
<br />
<br />
<br />

<h2 class="Title">Add New Job Category </h2>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(model => model.title, new { @class = "lbl" })
    </div>
    <div>
        @Html.TextBoxFor(model => model.title, new { @class = "textbox" })
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.title)
    </div>
    
    <div>
         <input type="submit" value="Add" class="btn-add" />
    </div>
}
        <p>@Html.ActionLink("Back", "JobCategory")</p>
