@model IEnumerable<NotreDameReBuildOfficial.Models.jobPosting>
@{
    ViewBag.Title = "JobPosting";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}
<br />
<br />
<br />
<h2>List Of Careers</h2>
<div>
    @Html.ActionLink("Add New Job", "Insert_JobPosting", "CMSHome", new { @class = "btn" })
    @Html.ActionLink("Job Categories", "Jobcategory", "CMSHome", new { @class = "btn" })
</div>
<table id="careers">
    <thead>
        <tr>
            <th>Title</th>
            <th>Department</th>
            <th>Posting_Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@Html.ActionLink(x.title, "JobPosting_Details", new { id = x.id })</td>
                <td>@x.department</td>
                <td>@x.posting_date.ToString()</td>
                <td>@x.catTitle</td>
            </tr>
        }
    </tbody>
</table>





