@model NotreDameReBuildOfficial.Models.Job_posting
@{
    ViewBag.Title = "JobPosting_Details";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}
<br />
<br />
<br />

<h2>Manage Career</h2>
<div>
    <div class="details_Op">
        @Html.LabelFor(model => model.title, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.title)
    </div>
    <div class="details_Op">
        @Html.LabelFor(model => model.type, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.type)
    </div>
    <div class="details_Op">
        @Html.LabelFor(model => model.department, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.department)
    </div>
    <div class="details_Op">
        @Html.LabelFor(model => model.salary, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.salary, "$")
    </div>
    <div class="details_Op">
        @Html.LabelFor(model => model.posting_date, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.posting_date)
    </div>
    <div class="details_Op">
        @Html.LabelFor(model => model.description, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.description)
    </div>
    <div class="details_Op">
        @Html.LabelFor(model => model.category_id, new { @class = "lbl" }):
        @Html.DisplayFor(x => x.category_id)
    </div>

    <p>
        @Html.ActionLink("Back", "JobPosting") |
        @Html.ActionLink("Update", "Update_JobPosting", new { id = Model.id }) |
        @Html.ActionLink("Delete", "Delete_JobPosting", new { id = Model.id })
    </p>

</div>