@model NotreDameReBuildOfficial.Models.news_article
@{
    ViewBag.Title = "News_Insert";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
    @Scripts.Render("~/bundles/jqueryval")
}

<h2>Add News Article</h2>

@using (Html.BeginForm("News_Insert", "CMSHome", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
    
    @Html.LabelFor(model => model.title)
    <br />
    @Html.TextBoxFor(model => model.title)
    <br />
    @Html.LabelFor(model => model.date)
    <br />
    @Html.TextBoxFor(model => model.date)
    @Html.ValidationMessageFor(model => model.date)
    <br />
    @Html.LabelFor(model => model.author)
    <br />
    @Html.TextBoxFor(model => model.author)
    <br />
    @Html.LabelFor(model => model.article)
    <br />
    @Html.TextAreaFor(model => model.article, new { @class = "textarea" })
    <br />
    @Html.LabelFor(model => model.image)
    <br />
    <input type="file" name="file" id="file" />
    <br />
    <input type="submit" value="Add Article" class="buttonstyle"/> 
    <br />
    <br />
    @ViewBag.Message
}

<div>
    @Html.ActionLink("Back", "News", "CMSHome", new { @class = "link" })
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

}