@model NotreDameReBuildOfficial.Models.news_article
@{
    ViewBag.Title = "News_Details";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}
<br />
<br />
<h2>News Article Details</h2>

<h3>@Html.Label("Title")</h3>
<p>@Html.DisplayFor(x => x.title)</p>

<h3>@Html.Label("Date")</h3>
<p>@Html.DisplayFor(x => x.date)</p>

<h3>@Html.Label("Author")</h3>
<p>@Html.DisplayFor(x => x.author)</p>

<h3>@Html.Label("Image")</h3>
<p>@Html.DisplayFor(x => x.image)</p>

<h3>@Html.Label("Article")</h3>
<p>@Html.DisplayFor(x => x.article)</p>

<p>
    @Html.ActionLink("Back", "News", "CMSHome")
    @Html.ActionLink("Update", "News_Update", new { id = Model.Id })
    @Html.ActionLink("Delete", "News_Delete", new { id = Model.Id })
</p>
