@model IEnumerable<NotreDameReBuildOfficial.Models.jobPosting>
@{
    ViewBag.Title = "JobPosting";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h2>List Of Careers</h2>
<br/><br/>
<div>
    @Html.ActionLink("Add New Job", "Insert_JobPosting", null, new { @class = "buttonstyle" })
    @Html.ActionLink("Job Categories", "JobCategory", "cmsJobCategory", null, new { @class = "buttonstyle" })
    @Html.ActionLink("Applicants", "Applicants", "cmsApplicant", null, new { @class = "buttonstyle" })

</div>
<br /><br />
<div @*style="height:50px;"*@>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Department</th>
                <th>Posting_Date</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@Html.ActionLink(x.title, "JobPosting_Details", new { id = x.id })</td>
                    <td>@x.department</td>
                    <td>@x.posting_date.ToString("d")</td>
                    <td>@x.catTitle</td>
                </tr>
            }
        </tbody>
    </table>
</div>
