@model NotreDameReBuildOfficial.Models.news_article
@{
    ViewBag.Title = "Article_Details";
}

<div id="articlebody">

<div id="article_image">

    <img src="~/Images/News_Feed/@Html.DisplayFor(x => x.image)" alt="@Model.title" /></a>

</div>

<div id="article_info">

    <h3>@Html.DisplayFor(x => x.title)</h3>

    <p>@Html.DisplayFor(x => x.date)</p>

    <p>@Html.DisplayFor(x => x.author)</p>

    <br />

    <p>@Html.Raw(Model.article)</p>

</div>

</div>

<div class="clear"></div>