@{
    ViewBag.Title = "Index";
}

@* NEWS *@
<div id="news">        

    <h2>What's New</h2>

    @* Display news feed images from database *@

    <div id="main_articles">
        @model IEnumerable<NotreDameReBuildOfficial.Models.news_article>
        @foreach (var article in Model)
        {
            <div class="news_image">
                <a href="@Url.Action("Article_Details", new { id = article.Id })"><img src="~/Images/News_Feed/@Url.Content(article.image)" alt="@article.title" /></a>
                <a href="@Url.Action("Article_Details", new { id = article.Id })"><span class="news_image_header">@article.title</span></a>
            </div>
        }
        <div id="seemore"><a href="~/Home/Article_List" class="link">See More</a></div>
    </div>

</div>

@* ONLINE SERVICE BUTTONS *@
<div id="left-col">

    <h2 id="online-services">Online Services</h2>

    <div id="service-btns">
        <a class="service-btn" id="donate-btn" href="~/Donation/Donate">
            <span class="icon icon5"><i class="fa fa-heart fa-lg"></i></span>
            <span class="btn-text btn-text5">Make a Donate</span>
        </a>

        <div class="clear"></div>

        <a class="service-btn" id="news-btn" href="~/Home/Article_List">
            <span class="icon icon4"><i class="fa fa-newspaper-o"></i></span>
            <span class="btn-text btn-text4">What's New</span>
        </a>

        <div class="clear"></div>

        <a class="service-btn" href="~/GiftShop/giftshop">
            <span class="icon icon1"><i class="fa fa-shopping-cart fa-lg"></i></span>
            <span class="btn-text btn-text1">Gift Shop</span>
        </a>

        <div class="clear"></div>

        <a class="service-btn" href="~/ApptSchedPublic/createAppt">
            <span class="icon icon2"><i class="fa fa-calendar fa-lg"></i></span>
            <span class="btn-text btn-text2">Book an Appointment</span>
        </a>

        <div class="clear"></div>

        <a class="service-btn" href="~/Feedback/Feedback">
            <span class="icon icon3"><i class="fa fa-comment fa-lg"></i></span>
            <span class="btn-text btn-text3">Send Feedback</span>
        </a>
    </div>

</div>

@* EVENTS LISTING *@
<div id="center-col">

    <h2>Upcoming Events</h2>

    @{
        Html.RenderAction("EventsPartial", "Home");
    }


</div>

@* WEEKLY POLL *@
<div id="right-col">
    
        <h2>Weekly Poll</h2>

        <div id="poll-container">
            @*<h3>@ViewBag.Poll.title</h3>*@
            <br />
            <span>@ViewBag.Poll.question_text</span>
            <br /><br />
            <div id="options-container">
                <input type="hidden" id="pollid" value="@ViewBag.Poll.id" />
                @foreach (var option in ViewBag.Poll.options)
                {
                    <input type="radio" class="poll-option" name="polloption" value="@option.id">@option.options
                    <br /><br />
                }
                <button type="button" id="btnvote" class="buttonstyle">Vote</button>
            </div>
        </div>
        <div id="chart-container">
            <canvas id="myChart" width="200" height="200"></canvas>
        </div>
  
</div>
<script>
    $(function () {
        $("#btnvote").click(function () {
            $(this).attr('disabled', 'disabled');
            var pollid = $("#pollid").val();
            var optionid = $(".poll-option:checked").val();

            var obj = new Object();
            var murl = '@Url.Action("InsertVote")';
            obj.pollid = pollid;
            obj.optionid = optionid;

            if (pollid != null && optionid != null) {
                $.ajax({
                    type: 'POST',
                    url: murl,
                    data: JSON.stringify(obj),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        //alert(data.result);
                        showChart(data.result);
                        $("#options-container").hide();
                        //$("#chart-container").show();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            } 
        });
    });

    function showChart(data) {
        //Get context with jQuery - using jQuery's .get() method.
        var ctx = $("#myChart").get(0).getContext("2d");

        var options = { animateRotate: true, segmentShowStroke: true, segmentStrokeColor: "#fff" };
        //This will get the first returned node in the jQuery collection.
        var myNewChart = new Chart(ctx).Pie(data, options);
    }
</script>
