@model NotreDameReBuildOfficial.Models.PDF_Filter

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h2>PDF Details</h2>

<h3>@Html.DisplayFor(x => x.PdfTitle)</h3>

<table>
    <tr>
        <td>@Html.LabelFor(model => model.Category, new {@class = "label"})</td>
        <td>@Html.DisplayFor(x => x.Category)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Descr, new {@class = "label"})</td>
        <td>@Html.DisplayFor(x => x.Descr)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Lang, new {@class = "label"})</td>
        <td>@Html.DisplayFor(x => x.Lang)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Department, new {@class = "label"})</td>
        <td>@Html.DisplayFor(x => x.Department)</td>
    </tr>
    <tr>
        <td>Date Stamp</td>
        <td>@Html.DisplayFor(x => x.Tstamp)</td>
    </tr>
</table>
<p>View Pdf:<a href="~/Content/uploads/@Model.PdfTitle" target="_Blank" title="Click to View PDF">
        <div style="font-size: 80px;"><i class="fa fa-file-pdf-o" alt="test"></i>
        </div>
    </a>
</p>

<p>
    @*renders links to methods located on ApptSchedController*@
    @Html.ActionLink("Back", "Pdf", null, new { @class = "buttonstyle" }) 
    @Html.ActionLink("Update", "Update", new { id = Model.id }, new { @class = "buttonstyle" }) 
    @Html.ActionLink("Delete", "Delete", new { id = Model.id }, new { @class = "buttonstyle" })
</p>
