@model IEnumerable<NotreDameReBuildOfficial.Models.PDF_Filter>

@{
    ViewBag.Title = "Pdf";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}
<br/>

@*renders links to methods located on ApptSchedController*@
<p>@Html.ActionLink("Add PDF", "createPdf", "cmsPdfFilter", new { @class = "buttonstyle" })</p>
<br />
<table>
    <thead>
        <tr>
            <th>PDF Title</th>
            <th>Category</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@Html.ActionLink(x.PdfTitle, "Details", new { id = x.id })</td>
                <td>@x.Category</td>
                <td>@x.Tstamp</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = x.id }, new { @class = "buttonstyle" })</td>
            </tr>
        }
    </tbody>
</table>


@*@foreach (var x in Model)
{   
        string link = x.PdfUrl;
        string path = Url.Content("~/Content/uploads/") + link.Replace(" ", "%20");
        string tag = "<a href=" + path + ">" + link + "</a>";
        @Html.Raw(tag)   
}*@







