@model NotreDameReBuildOfficial.Models.PDF_Filter

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h2>Update</h2>

<h3>@Html.DisplayFor(x => x.PdfTitle)</h3>

@using (Html.BeginForm())
{

    <table>
        <tr>
            <td>@Html.LabelFor(model => model.PdfTitle, new { @class = "label" })</td>
            <td>@Html.TextBoxFor(model => model.PdfTitle, new { @class = "textbox" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.PdfUrl, new { @class = "label" })</td>
            <td>@Html.TextBoxFor(model => model.PdfUrl, new { @class = "textbox" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Category, new { @class = "label" })</td>
            <td>
                @Html.DropDownListFor(model => model.Category, new[] {
        new SelectListItem() {Text = ""},
        new SelectListItem() {Text = "Medicine"},
        new SelectListItem() {Text = "Legal"},
        new SelectListItem() {Text = "Accessibilty"},
        new SelectListItem() {Text = "Reports"},
        new SelectListItem() {Text = "Legal"},
        new SelectListItem() {Text = "Expenses"},
        new SelectListItem() {Text = "Forms"},
        new SelectListItem() {Text = "Media"},
        new SelectListItem() {Text = "Other"},}, new { @class = "dropdown-list" })
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Image, new { @class = "label" })</td>
        <td>@Html.TextBoxFor(model => model.Image, new { @class = "textbox" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Tstamp, new { @class = "label" })</td>
        <td>@Html.TextBoxFor(model => model.Tstamp, new { @class = "textbox" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Descr, new { @class = "label" })</td>
        <td>@Html.TextBoxFor(model => model.Descr, new { @class = "textbox" })</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Lang, new { @class = "label" })</td>
        <td>
            @Html.DropDownListFor(model => model.Lang, new[] {
        new SelectListItem() {Text = ""},
        new SelectListItem() {Text = "English"},
        new SelectListItem() {Text = "French"},
        new SelectListItem() {Text = "Other"},
        new SelectListItem() {Text = "unknown"},}, new { @class = "dropdown-list" })
    </td>
</tr>
<tr>
    <td>@Html.LabelFor(model => model.Department, new { @class = "label" })</td>
    <td>
        @Html.DropDownListFor(model => model.Department, new[] {
        new SelectListItem() {Text = ""},
        new SelectListItem() {Text = "n/a"},
        new SelectListItem() {Text = "Emergency"},
        new SelectListItem() {Text = "Communication"},
        new SelectListItem() {Text = "Patient Services"},
        new SelectListItem() {Text = "HR"},
        new SelectListItem() {Text = "Finance"},
        new SelectListItem() {Text = "Privacy"},
        new SelectListItem() {Text = "Accessibilty"},
        new SelectListItem() {Text = "Other"},}, new { @class = "dropdown-list" })
</td>
</tr>
</table>

    <input type="submit" value="Update" />
}

<p>@Html.ActionLink("Back", "Details", new { id = Model.id })</p>
