@model NotreDameReBuildOfficial.Models.ApptSchedValidation

@{
    ViewBag.Title = "Thanks";
    
}
@* Thank you page after user successfully submits form *@
<h2>Thank you, @Model.Fname @Model.Lname</h2>

<br/>

<h3>You have booked an appointment on @Model.BookDate for @Model.BookTime </h3>
<h3>An email will be sent shortly to you confirming your appointment.</h3>
<br/>

@Html.ActionLink("Make another appoinment", "createAppt", "ApptSchedPublic", null, new { @class = "buttonstyle" })
@Html.ActionLink("Back to Home Page", "Index", "Home", null, new { @class = "buttonstyle2" })
