@model NotreDameReBuildOfficial.Models.Feedback

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h1>Feedback Record No. @Html.DisplayFor(model => model.feedback_id)</h1>

<table class="plain">
    <tr>
        @* DATE CREATED *@
        <td>@Html.LabelFor(model => model.date)</td>
        <td>@Html.DisplayFor(model => model.date)</td>
    </tr>

    @* Display if there is a name *@
    @if (@Model.name != null)
    {
        <tr>
            <td>@Html.LabelFor(model => model.name)</td>
            <td>@Html.DisplayFor(model => model.name)</td>
        </tr>
    }
  
    @* Display if there is an email *@
    @if (@Model.email != null)
    {
        <tr>
            <td>@Html.LabelFor(model => model.email)</td>
            <td>@Html.DisplayFor(model => model.email)</td>
        </tr>
    }

    <tr>
        @* SUBJECT *@
        <td>@Html.LabelFor(model => model.subject)</td>
        <td>@Html.DisplayFor(model => model.subject)</td>
    </tr>
    <tr>
        @* CATEGORY *@
        <td>@Html.LabelFor(model => model.category)</td>
        <td>@Html.DisplayFor(model => model.category)</td>
    </tr>
    <tr>
        @* COMMENTS *@
        <td>@Html.LabelFor(model => model.comments)</td>
        <td>@Html.DisplayFor(model => model.comments)</td>
    </tr>

</table>

<a href='@Url.Action("Update", "cmsFeedback", new { feedback_id = Model.feedback_id })'>
    <span class="buttonstyle"><i class="fa fa-pencil"></i>Edit</span>
</a>
<a href='@Url.Action("Delete", "cmsFeedback", new { feedback_id = Model.feedback_id })'>
    <span class="buttonstyle"><i class="fa fa-trash-o"></i>Delete</span>
</a>
<a href='@Url.Action("Manage", "cmsFeedback")'>
    <span class="buttonstyle"><i class="fa fa-list-ul"></i>Back to List</span>
</a>