@model NotreDameReBuildOfficial.Models.checkout
@{
    ViewBag.Title = "checkout";
}

<h1>Checkout</h1>

@ViewBag.checkoutNum

@using (Html.BeginForm())
{

<h2>Personal Information:</h2>

@Html.LabelFor(model => model.firstname, "First Name", new { @class = "label" })
@Html.TextBoxFor(model => model.firstname, new { @class = "textbox" })

<br />

@Html.LabelFor(model => model.lastname, "Last Name", new { @class = "label" })
@Html.TextBoxFor(model => model.lastname, new { @class = "textbox" })

<br />

@Html.LabelFor(model => model.deliv_status, "Patient Delivery or Customer Pickup", new { @class = "label" })
@Html.DropDownListFor(model => model.deliv_status, new[] {
                new SelectListItem() {Text = "Delivery"},
                new SelectListItem() {Text = "Pickup"},
            }, "Please Select", new { @class = "dropdown-list" })

<br />

@Html.LabelFor(model => model.patientname, "Patient Name", new { @class = "label" })
@Html.TextBoxFor(model => model.patientname, new { @class = "textbox" })

<br />

@Html.LabelFor(model => model.message, "Message To Patient", new { @class = "label" })
@Html.TextAreaFor(model => model.message, new { @class = "textarea" })

<br />

<h2>Payment Information:</h2>

@Html.LabelFor(model => model.cardtype, "Credit Card", new { @class = "label" })
@Html.DropDownListFor(model => model.cardtype, new[] {
                new SelectListItem() {Text = "Visa"},
                new SelectListItem() {Text = "Mastercard"},
                new SelectListItem() {Text = "Other"},
            }, "Please Select", new { @class = "dropdown-list" })

<br />

@Html.LabelFor(model => model.cardnumber, "Credit Card Number", new { @class = "label" })
@Html.TextBoxFor(model => model.cardnumber, new { @class = "textbox" })

<br />

@Html.LabelFor(model => model.cardname, "Name On Card", new { @class = "label" })
@Html.TextBoxFor(model => model.cardname, new { @class = "textbox" })

<br />

@Html.LabelFor(model => model.expirydate, "Expiry Date", new { @class = "label" })
@Html.TextBoxFor(model => model.expirydate, new { @class = "textbox" })

<br />

@Html.LabelFor(model => model.securitycode, "Security Code", new { @class = "label" })
@Html.TextBoxFor(model => model.securitycode, new { @class = "textbox" })

}