@model NotreDameReBuildOfficial.Models.checkout
@{
    ViewBag.Title = "checkout";
    @Scripts.Render("~/bundles/jquery")
}

<h1>Gift Shop Checkout</h1>

<p>Your total amount is: <strong>$@ViewBag.checkoutNum</strong></p>

@using (Html.BeginForm(FormMethod.Post))
{

@Html.ValidationSummary()

<h2>Personal Information:</h2>

@Html.LabelFor(model => model.firstname, new { @class = "label" })
@Html.TextBoxFor(model => model.firstname, new { @class = "textbox" })

<br />

@Html.LabelFor(model => model.lastname, new { @class = "label" })
@Html.TextBoxFor(model => model.lastname, new { @class = "textbox" })

<br />

@Html.LabelFor(model => model.deliv_status, new { @class = "label" })
@Html.DropDownListFor(model => model.deliv_status, new[] {
                new SelectListItem() {Text = "Delivery"},
                new SelectListItem() {Text = "Pickup"},
            }, "Please Select", new { @class = "dropdown-list" })

<br />

@Html.LabelFor(model => model.patientname, new { @class = "label" })
@Html.TextBoxFor(model => model.patientname, new { @class = "textbox" })

<br />

@Html.LabelFor(model => model.message, new { @class = "label" })
@Html.TextAreaFor(model => model.message, new { @class = "textarea" })

<br />

<h2>Payment Information:</h2>

@Html.LabelFor(model => model.cardtype, new { @class = "label" })
@Html.DropDownListFor(model => model.cardtype, new[] {
                new SelectListItem() {Text = "Visa"},
                new SelectListItem() {Text = "Mastercard"},
                new SelectListItem() {Text = "Other"},
            }, "Please Select", new { @class = "dropdown-list" })

<br />

@Html.LabelFor(model => model.cardnumber, new { @class = "label" })
@Html.TextBoxFor(model => model.cardnumber, new { @class = "textbox" })
@Html.ValidationMessageFor(model => model.cardnumber)

<br />

@Html.LabelFor(model => model.cardname, new { @class = "label" })
@Html.TextBoxFor(model => model.cardname, new { @class = "textbox" })

<br />

@Html.LabelFor(model => model.expirydate, new { @class = "label" })
@Html.TextBoxFor(model => model.expirydate, new { @class = "textbox" })
@Html.ValidationMessageFor(model => model.expirydate)

<br />

@Html.LabelFor(model => model.securitycode, new { @class = "label" })
@Html.TextBoxFor(model => model.securitycode, new { @class = "textbox" })
@Html.ValidationMessageFor(model => model.securitycode)

<br />

    <input type="hidden" value="@ViewBag.checkoutNum" name="totalAmount" />
    <input type="submit" value="Purchase" class="buttonstyle" name="purchase_command" />

}

<p>@ViewBag.Message</p>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

}