@{
    ViewBag.Title = "giftshop";
}

<h2>Gift Shop</h2>
<h1>@ViewBag.strSession</h1>

<span>@ViewBag.Message</span>

@model IEnumerable<NotreDameReBuildOfficial.Models.product>
@foreach (var product in Model.OrderByDescending(x => x.Id))
{
        <a href="@Url.Action("product_details", new { id = product.Id })"><img src="~/Images/Products/@Url.Content(product.image)" alt="@Html.Raw(product.name)" /></a><br />
        <a href="@Url.Action("product_details", new { id = product.Id })"><span>@Html.Raw(product.name)</span></a>
        using (Html.BeginForm(FormMethod.Post)){<input type="number" name="product_quantity" min="1" max="100" value="1"/><input type="hidden" value="@Html.Raw(product.name)" name="product_name" /><input type="submit" value="Add To Cart" class="buttonstyle" name="add_command"/>}
}
