@model NotreDameReBuildOfficial.Models.product
@{
    ViewBag.Title = "product_details";
}

<h1>Product Details</h1>

<div class="cart"><a href="~/GiftShop/cart"><i class="fa fa-shopping-cart"></i> Cart (@ViewBag.cartCount)</a><div class="clear"></div></div>

<div class="clear"></div>

<div id="articlebody">

    <div id="article_image">

        <img src="~/Images/Products/@Html.DisplayFor(x => x.image)" alt="@Model.name" class="proddetimage"/></a>

    </div>

    @using (Html.BeginForm(FormMethod.Post)){
        

    <div id="article_info">

        <h2>@Html.DisplayFor(x => x.name)</h2>

        <p>$@Html.DisplayFor(x => x.price)</p>

        <p>Quantity:</p>
        <input type="number" name="product_quantity" min="1" max="100" value="1" />

        <br />

        <p class="product">@Html.Raw(Model.description)</p>

        <input type="hidden" value="@Html.DisplayFor(x => x.name)" name="product_name" />
        <input type="hidden" value="@Html.DisplayFor(x => x.price)" name="product_price" />
        <input type="submit" value="Add To Cart" class="buttonstyle" name="add_command" />

        <p>@ViewBag.Message</p>

    </div>
        
    }

</div>

<div class="clear"></div>
