@model IEnumerable<NotreDameReBuildOfficial.Models.subNavigation>

@{
    ViewBag.Title = "pageInfo";

    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h1>Create Page</h1>
<h2>Sub Page Information</h2>

<table>
    <thead>
        <tr>
            <th>Pages</th>
            <th>Add Content</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>

    @foreach (var snav in Model)
    {
        <tr>
            <td>@snav.title</td>
            <td>@if (snav.deletable == 1){@Html.ActionLink("Add Content", "passID", new { id = snav.id })}</td>
            <td><a href='@Url.Action("passpageID", "createPage", new { id = snav.id })'><i class="fa fa-pencil fa-lg"></i></a></td>
            <td>@if (snav.deletable == 1)
            { <a href='@Url.Action("pageDelete", "createPage", new { id = snav.id })'><i class="fa fa-trash-o fa-lg"></i></a>}</td>
        </tr>
    }

</table>


<a href='@Url.Action("insertSubPage", "createPage")'>
    <span class="buttonstyle">+ Add Sub Page</span></a>

<a href='@Url.Action("pageList", "createPage")'>
    <span class="buttonstyle">Back to List</span>
</a>
