@model NotreDameReBuildOfficial.Models.createPage

@{
    ViewBag.Title = "pageUpdate";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h1>Public Navigation</h1>
<h2>Update public Navigation</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>@Html.LabelFor(x => x.pageContent)</td>
            @*<td>@Html.TextAreaFor(Model => Model.pageContent)<span style="color:red">*</span></td>*@
            <td>
                @Html.TextAreaFor(x => x.pageContent, new { @id = "pageEditor" })
            </td>
        </tr>
    </table>

    <input type="submit" name="submit" value="Update" class="buttonstyle" />

    <a href='@Url.Action("pageList", "createPage", new { jobId = Model.id })'>
        <span class="buttonstyle">Cancel</span>
    </a>
}

<script type="text/javascript">
    CKEDITOR.replace('pageEditor')
</script>
@section Scripts
{
    @Scripts.Render("~/Scripts/ckeditor/ckeditor.js")
    @*@Scripts.Render("~/bundles/jqueryval")*@
}