<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
      
    @Styles.Render("~/Content/font-awesome-4.3.0/css/font-awesome.css")

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Roboto:400,500,700,400italic' rel='stylesheet' type='text/css'>

</head>
<body>

    @* ----- HEADER ----- *@

    <div id="cms-head-container">

        <a id="ndh-title" href="~/CMSHome/Index">
            <img id="cross" src="~/Content/images/ndh-cross.png" />
            <div id="nd">Notre-Dame</div>
        </a>

        <div id="cms-top-nav">
            <a href='@Url.Action("Index", "Home")' target='_blank'><i class="fa fa-external-link"></i>Visit Site</a>
        </div>


        <div id="sign-out">
            <a href="/AccountNotreDame/logOff">Sign Out</a>
        </div>

        <div id="user">
            <p>Welcome, Jane Doe</p>
        </div>

    </div>

    @* ----- LEFT MENU -----*@

    <div class="left-menu">

        <div id="cms-left-nav">

            @{Html.RenderAction("popNav", "adminNav");}

        </div>

    </div>

        @* ----- BODY -----*@

        <div id="cms-main">
            @RenderSection("scripts", required: false)
            @Scripts.Render("~/bundles/jquery")
            @RenderBody()
        </div>

        @* ----- FOOTER -----*@

        <div id="cms-footer">
            <p id="cms-copyright">&copy; 2015 Notre-Dame Hospital</p>
        </div>

</body>
</html>