<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
      
    @Styles.Render("~/Content/font-awesome-4.3.0/css/font-awesome.css")

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Roboto:400,500,700,400italic' rel='stylesheet' type='text/css'>

</head>
<body>

    <div id="container">

        @* ----- HEADER ----- *@

        <div id="cms-head-container">

            <a id="ndh-title" href="~/CMSHome/Index">
                <img id="cross" src="~/Content/images/ndh-cross.png" />
                <div id="nd">Notre-Dame</div>
            </a>

            <div id="cms-top-nav">
                <a href='@Url.Action("Index", "Home")' target='_blank'><i class="fa fa-external-link"></i>Visit Site</a>
            </div>


            <div id="sign-out">
                <a href="/AccountNotreDame/logOff">Sign Out</a>
            </div>

            <div id="user">
                <p>Welcome, Jane Doe</p>
            </div>

        </div>

        @* ----- LEFT MENU -----*@

        <div class="left-menu">

            <div id="cms-left-nav">

                @{Html.RenderAction("popNav", "adminNav");}

            </div>

        </div>

        @* ----- BODY -----*@

        <div id="cms-main">
            @RenderSection("scripts", required: false)
            @Scripts.Render("~/bundles/jquery")
            @RenderBody()
        </div>

        @* ----- FOOTER -----*@

         @*<div id="cms-footer">
            <p id="cms-copyright">&copy; 2015 Notre-Dame Hospital</p>
            </div>*@
        <div id="footer_container">

            <footer id="footer">

                <div id="building"><img src="~/Content/images/hospitalimgnew.png" title="Notre-Dame Hospital" alt="Notre-Dame Hospital Image" id="footerbg" /></div>

                <div id="partners">

                    @* Town of Hearst *@
                    <div class="partner">
                        <a href="http://www.hearst.ca/en/index.aspx" target="_blank"><img src="~/Content/images/town-of-hearst.png" title="Town of Hearst" alt="Town of Hearst Logo" /></a>
                    </div>

                    @* College Boreal *@
                    <div class="partner">
                        <a href="http://www.collegeboreal.ca/accueil" target="_blank"><img src="~/Content/images/college-boreal.png" title="Colleg Boreal" alt="College Boreal Logo" /></a>
                    </div>

                    <div class="clear"></div>

                    @* Northern Ontario Schoo of Medicine *@
                    <div class="partner">
                        <a href="http://www.nosm.ca/" target="_blank"><img src="~/Content/images/nosm.png" title="Northern Ontario School of Medicine" alt="Northern Ontario School of Medicine Logo" /></a>
                    </div>

                    @* University of Hearst *@
                    <div class="partner">
                        <a href="http://www.uhearst.ca/english" target="_blank"><img src="~/Content/images/uhearst.png" title="University of Hearst" alt="University of Hearst Logo" /></a>
                    </div>

                </div>

                <div id="footer_links">

                    <ul>
                        <li><a href="#" class="link">Accessibility</a></li>
                        <li><a href="#" class="link">Privacy Policy</a></li>
                    </ul>

                    <ul id="footer_social">
                        <li><a href="#"><img src="~/Content/images/facebook.png" title="Facebook" alt="Facebook link" /></a></li>
                        <li><a href="#"><img src="~/Content/images/twitter.png" title="Twitter" alt="Twitter Link" /></a></li>
                        <li><a href="#"><img src="~/Content/images/youtube.png" title="Youtube" alt="Youtube Link" /></a></li>
                    </ul>


                    <p>1405 Edward Street, Hearst, Ontario</p>
                    <p>Ph: (705) 362-4291</p>

                    <div id="copyright"><p>&copy2015 Notre Dame Hospital</p></div>


                </div>

            </footer>

        </div>


    </div>
</body>
</html>