<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/bundles/chart")
    @Styles.Render("~/Content/font-awesome-4.3.0/css/font-awesome.css")
    @Scripts.Render("~/Scripts/mobile-menu.js")
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Roboto:400,500,700,400italic' rel='stylesheet' type='text/css'>
   
</head>
<body>

    <div id="container">

@* ----- HEADER -----*@

    <div id="header_container">

        <header id="header">

            <div id="logo">
                <a href="~/Home/Index"><img src="~/Content/images/logo.png" title="Notre Dame" alt="Notre Dame Logo" /></a>
            </div>

            @* ----- Appears only for mobile -----*@

            <div id="hamburger">
                <i class="fa fa-bars"></i>
            </div>

            @* ----- end -----*@

            <div id="searchfield">

                @* LOGIN AND DONATE BUTTONS *@
                <form id="headerbuttons">
                    <a href='@Url.Action("Donate", "Donation")'>
                        <input type='button' value="Donate" class="homepage-btns donate" />
                    </a>
                    <a href='@Url.Action("Login", "AccountNotreDame")'>
                        <input type="button" name="login" value="Login" class="homepage-btns" />
                    </a>
</form>

                @* SEARCH BAR *@
                @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { id = "headersearch" }))
                {    
                    <input name="q" class="textbox" onfocus=" if (this.value == 'search') this.value = '' " type="text" maxlength="100" size="15" value="search">
                    <input type="submit" value="Search" />
                    @*<div id="magnifylogo"><i class="fa fa-search"></i>
                    </div>*@
                }

                @* ER WAIT TIME *@
                
                    @Html.Action("erwait", "WaitTime")
                

            </div>

        </header>

    </div>

@* ----- MOBILE NAVIGATION -----*@

    <nav id="mobilenav">
        <div id="phoneicon">
            <i class="fa fa-phone"></i>
        </div>

        <div id="mapicon">
            <i class="fa fa-map-marker"></i>
        </div>

        <a href='@Url.Action("Donate", "Donation")'>
            <input type='button' value="Donate" class="homepage-btns donate" />
        </a>

        <div id="mobilesearch">
            @*<div id="magnifylogo"><i class="fa fa-search"></i></div>*@
            <input name="q" class="textbox" onfocus="if (this.value=='search') this.value = ''" type="text" maxlength="80" size="28" value="search">
        </div>
    </nav>

@* ----- NAVIGATION -----*@

        <nav id="navigation">
            <ul>    
                <li id="loginresp"><a href="@Url.Action("Login", "AccountNotreDame")">Login</a></li>
                @{Html.RenderAction("popNav", "nav");}
            </ul>
        </nav>

@* ----- ER wait time for tablets and phones -----*@

    <div id="mobile-er">

        @* ER WAIT TIME *@
        @Html.Action("erwait", "WaitTime")

    </div>


@* ----- BODY -----*@

    <section id="main">

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        @RenderBody()

        <div class="push">
            @*For Sticky Footer*@
        </div>

    </section>

@* ----- FOOTER -----*@

    <div id="footer_container">

        <footer id="footer">

            <div id="building"><img src="~/Content/images/hospitalimgnew.png" title="Notre-Dame Hospital" alt="Notre-Dame Hospital Image" id="footerbg" /></div>

            <div id="partners">

                @* Town of Hearst *@
                <div class="partner">
                    <a href="http://www.hearst.ca/en/index.aspx" target="_blank"><img src="~/Content/images/town-of-hearst.png" title="Town of Hearst" alt="Town of Hearst Logo" /></a>
                </div>

                @* College Boreal *@
                <div class="partner">
                    <a href="http://www.collegeboreal.ca/accueil" target="_blank"><img src="~/Content/images/college-boreal.png" title="Colleg Boreal" alt="College Boreal Logo" /></a>
                </div>

                <div class="clear"></div>

                @* Northern Ontario Schoo of Medicine *@                           
                <div class="partner">
                    <a href="http://www.nosm.ca/" target="_blank"><img src="~/Content/images/nosm.png" title="Northern Ontario School of Medicine" alt="Northern Ontario School of Medicine Logo" /></a>
                </div>

                @* University of Hearst *@
                <div class="partner">
                    <a href="http://www.uhearst.ca/english" target="_blank"><img src="~/Content/images/uhearst.png" title="University of Hearst" alt="University of Hearst Logo" /></a>
                </div>
                             
            </div>
            
            <div id="footer_links">

                <ul>
                    <li><a href="#" class="link">Accessibility</a></li>
                    <li><a href="#" class="link">Privacy Policy</a></li>
                </ul>

                <ul id="footer_social">
                    <li><a href="#"><img src="~/Content/images/facebook.png" title="Facebook" alt="Facebook link" /></a></li>
                    <li><a href="#"><img src="~/Content/images/twitter.png" title="Twitter" alt="Twitter Link" /></a></li>
                    <li><a href="#"><img src="~/Content/images/youtube.png" title="Youtube" alt="Youtube Link" /></a></li>
                </ul>

                
                <p>1405 Edward Street, Hearst, Ontario</p>
                <p>Ph: (705) 362-4291</p>
                
                <div id="copyright"><p>&copy2015 Notre Dame Hospital</p></div>
                

            </div>

        </footer>

        

    </div>

    </div> <!-- end container div -->

</body>
</html>