<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
      
    @Styles.Render("~/Content/font-awesome-4.3.0/css/font-awesome.css")

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Roboto:400,500,700,400italic' rel='stylesheet' type='text/css'>

</head>
<body>

    @* ----- HEADER ----- *@

    <div id="cms-head-container">

        <a id="ndh-title" href="~/CMSHome/Index">
            <img id="cross" src="~/Content/images/ndh-cross.png" />
            <div id="nd">Notre-Dame</div>
        </a>

        <div id="cms-top-nav">
            <a href='@Url.Action("Index", "Home")' target='_blank'><i class="fa fa-external-link"></i>Visit Site</a>
        </div>


        <div id="sign-out">
            <a href="">Sign Out</a>
        </div>

        <div id="user">
            <p>Welcome, Jane Doe</p>
        </div>

    </div>

    @* ----- LEFT MENU -----*@

    <div class="left-menu">

        <div id="cms-left-nav">

            @* About NDH *@
            <div class="dropdown">
                <a class="left-mnu-itm" href="">
                    <i class="fa fa-sort-desc fa-lg"></i>About Notre-Dame
                </a>
                <div class="secondary">
                    <a class="secondary-pages" href="">Mission, Vision, Values</a>
                    <a class="secondary-pages" href="">History</a>
                    <a class="secondary-pages" href="">News</a>
                </div>
            </div>

            @* Patients & Visitors *@
            <div class="dropdown">
                <a class="left-mnu-itm" href="">
                    <i class="fa fa-sort-desc fa-lg"></i>Patients & Visitors
                </a>
                <div class="secondary">
                    <a class="secondary-pages" href="">Visiting Hours</a>
                    <a class="secondary-pages" href="">Parking & Directions</a>
                    <a class="secondary-pages" href="">Patient Information</a>
                    <a class="secondary-pages" href="">Schedule an Appointment</a>
                    <a class="secondary-pages" href="/cmsGiftShop/products">Gift Shop</a>
                </div>
            </div>

            @* Departments & Services *@
            <div class="dropdown">
                <a class="left-mnu-itm" href="">
                    <i class="fa fa-sort-desc fa-lg"></i>Departments & Services
                </a>
                <div class="secondary">
                    <a class="secondary-pages" href="">Emergency Department</a>
                    <a class="secondary-pages" href="">Pharmacy & Lab</a>
                    <a class="secondary-pages" href="">Nutrition & Food</a>
                    <a class="secondary-pages" href="">Long Term Care</a>
                    <a class="secondary-pages" href="">Acute Care</a>
                </div>
            </div>

            @* Join Our Team *@
            <div class="dropdown">
                <a class="left-mnu-itm" href="">
                    <i class="fa fa-sort-desc fa-lg"></i>Join Our Team
                </a>
                <div class="secondary">
                    <a class="secondary-pages" href="/cmsJobPosting/JobPosting">Job Opportunities</a>
                    <a class="secondary-pages" href="">Volunteer Opportunites</a>
                    <a class="secondary-pages" href="">Internships & Placements</a>
                </div>
            </div>

            @* Contact *@
            <div class="dropdown">
                <a class="left-mnu-itm" href="">
                    <i class="fa fa-sort-desc fa-lg"></i>Contact
                </a>
                <div class="secondary">
                    <a class="secondary-pages" href="">Staff Directory</a>
                </div>
           </div>

           @* Users *@
           <a class="left-mnu-itm" href="">
           <i class="fa fa-users fa-lg"></i>Users
           </a>

           @* Weekly Poll *@
           <a class="left-mnu-itm" href="/CMSPoll/polls">
               <i class="fa fa-bar-chart fa-lg"></i>Weekly Poll
           </a>

           @* News *@
           <a class="left-mnu-itm" href="/CMSHome/News">
               <i class="fa fa-newspaper-o cms fa-lg"></i>News
           </a>

           @* Events *@
           <a class="left-mnu-itm" href="~/cmsEventsListing/Manage">
               <i class="fa fa-calendar cms fa-lg"></i>Events
           </a>

           @* Donations *@
            <a class="left-mnu-itm" href="~/cmsDonation/Manage">
                <i class="fa fa-money fa-lg"></i>Donations
            </a>

           @* ER Wait Time *@
           <a class="left-mnu-itm" href="/cmsERwait/ERwait_Patients">
               <i class="fa fa-heartbeat fa-lg"></i>ER Wait Time
           </a>

           @* Search *@
           <a class="left-mnu-itm" href="">
               <i class="fa fa-search fa-lg"></i>Search
           </a>

           @* Feedback *@
            <a class="left-mnu-itm" href="~/cmsFeedback/Manage">
                <i class="fa fa-comment-o fa-lg"></i>Feedback
            </a>
            
        </div>@* -- end cms-left-mnu  *@

    </div>@* -- end left-nav -- *@

        @* ----- BODY -----*@

        <div id="cms-main">
            @RenderSection("scripts", required: false)
            @Scripts.Render("~/bundles/jquery")
            @RenderBody()
        </div>

        @* ----- FOOTER -----*@

        <div id="cms-footer">
            <p id="cms-copyright">&copy; 2015 Notre-Dame Hospital</p>
        </div>

</body>
</html>