@model NotreDameReBuildOfficial.Models.staff_info

@{
    ViewBag.Title = "InsertStaff";

    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");

}
<h1>Staff Directory</h1>
<h2>Add Staff Member to the Directory</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>@Html.LabelFor(Model => Model.staff_id)</td>
            <td>@Html.TextBoxFor(Model => Model.staff_id)    <span style="color:red">*</span></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.firstname)</td>
            <td>@Html.TextBoxFor(Model => Model.firstname)    <span style="color:red">*</span></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.lastname)</td>
            <td>@Html.TextBoxFor(Model => Model.lastname)    <span style="color:red">*</span></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.gender)</td>
            <td>
                @Html.RadioButtonFor(Model => Model.gender, "0") Male
                @Html.RadioButtonFor(Model => Model.gender, "1") Female
                <span style="color:red">*</span>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.department)</td>
            <td>@Html.TextBoxFor(Model => Model.department)<span style="color:red">*</span></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.role)</td>
            <td>@Html.TextBoxFor(Model => Model.role)    <span style="color:red">*</span></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.city)</td>
            <td>@Html.TextBoxFor(Model => Model.city)    <span style="color:red">*</span></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.province)</td>
            <td>
                @Html.DropDownListFor(model => model.province, new[] {
                    new SelectListItem() {Text = "ON"},
                    new SelectListItem() {Text = "AB"},
                    new SelectListItem() {Text = "BC"},
                    new SelectListItem() {Text = "MB"},
                    new SelectListItem() {Text = "NB"},
                    new SelectListItem() {Text = "NL"},
                    new SelectListItem() {Text = "NS"},
                    new SelectListItem() {Text = "NT"},
                    new SelectListItem() {Text = "NU"},
                    new SelectListItem() {Text = "PE"},
                    new SelectListItem() {Text = "QC"},
                    new SelectListItem() {Text = "SK"},
                    new SelectListItem() {Text = "YT"}
                }, "--", new { @class = "dropdown-list" })
                <span style="color:red">*</span>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(Model => Model.zip_code)</td>
            <td>
                @Html.TextBoxFor(Model => Model.zip_code)
            <span style="color:red">*</span>
            </td>
        </tr>
    </table>
                <input type="submit" value="Add Staff" class="buttonstyle" />
                <a href='@Url.Action("staffList", "cmsStaff")'>
                    <span class="buttonstyle">Cancel</span>
                </a>

}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}