@model NotreDameReBuildOfficial.Models.staff_info

@{
    ViewBag.Title = "InsertStaff";

    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");

}
<h1>Staff Directory</h1>
<h2>Add Staff Member to the Directory</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.LabelFor(Model => Model.staff_id)
    @Html.TextBoxFor(Model => Model.staff_id)
    <div class="clear"></div>

    @Html.LabelFor(Model => Model.firstname)
    @Html.TextBoxFor(Model =>Model.firstname)
    <div class="clear"></div>

    @Html.LabelFor(Model => Model.lastname)
    @Html.TextBoxFor(Model => Model.lastname)
    <div class="clear"></div>

    @Html.LabelFor(Model => Model.department)
    @Html.TextBoxFor(Model => Model.department)
    <div class="clear"></div>

    @Html.LabelFor(Model => Model.role)
    @Html.TextBoxFor(Model => Model.role)
    <div class="clear"></div>

    @Html.LabelFor(Model => Model.city)
    @Html.TextBoxFor(Model => Model.city)
    <div class="clear"></div>

    @Html.LabelFor(Model => Model.province)
    @Html.TextBoxFor(Model => Model.province)
    <div class="clear"></div>

    @Html.LabelFor(Model => Model.zip_code)
    @Html.TextBoxFor(Model => Model.zip_code)
    <div class="clear"></div>
    <input type="submit" value="Add Staff" class="buttonstyle" />

        <a href='@Url.Action("staffList", "cmsStaff")'>
        <span class="buttonstyle">Cancel</span>
    </a>


}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}