@model NotreDameReBuildOfficial.Models.staff_info

@{
    ViewBag.Title = "updateStaff";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");

}

<h1>update Staff Information</h1>

<h1>Edit Record No. @Html.DisplayFor(x => x.id)</h1>

@using(Html.BeginForm())
{
    @Html.HiddenFor(x => x.id)

    @Html.LabelFor(x => x.staff_id)
    @Html.TextBoxFor(x => x.staff_id)
    <div class="clear"></div>

    @Html.LabelFor(x => x.firstname)
    @Html.TextBoxFor(x => x.firstname)
    <div class="clear"></div>

    @Html.LabelFor(x => x.lastname)
    @Html.TextBoxFor(x => x.lastname)
    <div class="clear"></div>

    @Html.LabelFor(x => x.gender)
    @Html.TextBoxFor(x => x.gender)
    <div class="clear"></div>

    @Html.LabelFor(x => x.department)
    @Html.TextBoxFor(x => x.department)
    <div class="clear"></div>

    @Html.LabelFor(x => x.role)
    @Html.TextBoxFor(x => x.role)
    <div class="clear"></div>

    @Html.LabelFor(x => x.city)
    @Html.TextBoxFor(x => x.city)
    <div class="clear"></div>

    @Html.LabelFor(x => x.province)
    @Html.TextBoxFor(x => x.province)
    <div class="clear"></div>

    @Html.LabelFor(x => x.zip_code)
    @Html.TextBoxFor(x => x.zip_code)
    <div class="clear"></div>

    <input type="submit" name="submit" value="Update" class="buttonstyle" />

    <a href='@Url.Action("staffList", "cmsStaff", new { staffid = Model.id })'>
        <span class="buttonstyle">Cancel</span>
    </a>

}


