@model IEnumerable<NotreDameReBuildOfficial.Models.Appt_Book>

@{
        ViewBag.Title = "ApptSched";
        Layout = "~/Views/Shared/_LayoutCMS.cshtml";
        @Scripts.Render("~/Scripts/cms-menu.js");    
}

    <h2>Apptointments</h2>
<br/>
    @*renders links to methods located on ApptSchedController*@
    <p>@Html.ActionLink("New Appointment", "createAppt", "ApptSched", new { @class = "buttonstyle" })</p>
<br/>
    <table>
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Health Number</th>
                <th>Book Date</th>
                <th>Book Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@Html.ActionLink(x.Fname + " " + x.Lname, "Details", new { id = x.id, @class = "link" })</td>
                    <td>@x.HealthNum</td>
                    <td>@x.BookDate</td>
                    <td>@x.BookTime</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = x.id }, new { @class = "buttonstyle" })</td>
                </tr>
            }
        </tbody>
    </table>
