@model NotreDameReBuildOfficial.Models.Appt_Book

@{
    ViewBag.Title = "Appointment Details";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h2>Details</h2>

<h3>@Html.DisplayFor(x => x.Fname)</h3>
<p>@Html.DisplayFor(x => x.Lname)</p>
<p>@Html.DisplayFor(x => x.Email)</p>
<p>@Html.DisplayFor(x => x.HealthNum)</p>
<p>@Html.DisplayFor(x => x.BookDate)</p>
<p>@Html.DisplayFor(x => x.BookTime)</p>
<p>@Html.DisplayFor(x => x.AdditionalInfo)</p>
<p>@Html.DisplayFor(x => x.Tstamp)</p>
<p>@Html.DisplayFor(x => x.Speciality)</p>
<p>@Html.DisplayFor(x => x.Phone)</p>

<p> @*renders links to methods located on ApptSchedController*@
    @Html.ActionLink("Back", "ApptSched") |
    @Html.ActionLink("Update", "Update", new { id = Model.id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.id })
</p>