@model NotreDameReBuildOfficial.Models.Appt_Book

@{
    ViewBag.Title = "Appointment Details";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h2>Details</h2>

<h3>@Html.DisplayFor(x => x.Fname) @Html.DisplayFor(x => x.Lname)</h3>
@Html.LabelFor(model => model.Email, new { @class = "label" })
@Html.DisplayFor(x => x.Email)
@Html.DisplayFor(x => x.HealthNum)
@Html.DisplayFor(x => x.BookDate)
@Html.DisplayFor(x => x.BookTime)
@Html.DisplayFor(x => x.AdditionalInfo)
@Html.DisplayFor(x => x.Tstamp)
@Html.DisplayFor(x => x.Speciality)
@Html.DisplayFor(x => x.Phone)

<p> @*renders links to methods located on ApptSchedController*@
    @Html.ActionLink("Back", "ApptSched") |
    @Html.ActionLink("Update", "Update", new { id = Model.id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.id })
</p>