@model NotreDameReBuildOfficial.Models.Appt_Book
@*@model NotreDameReBuildOfficial.ViewModels.MailApptModel*@
@{
    ViewBag.Title = "Appointment Details";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h2>Appointment Details For:</h2>

<h3>@Html.DisplayFor(x => x.Fname) @Html.DisplayFor(x => x.Lname)</h3>
<div class="clear"></div>

<table>
    <tr>
        <td>@Html.LabelFor(model => model.Email, new { @class = "label" })</td>
        <td>@Html.DisplayFor(x => x.Email)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.HealthNum, new { @class = "label" })</td>
        <td>@Html.DisplayFor(x => x.HealthNum)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.BookDate, new { @class = "label" })</td>
        <td>@Html.DisplayFor(x => x.BookDate)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.BookTime, new { @class = "label" })</td>
        <td>@Html.DisplayFor(x => x.BookTime)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.AdditionalInfo, new {@class = "label"})</td>
        <td>@Html.DisplayFor(x => x.AdditionalInfo)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Speciality, new {@class = "label"})</td>
        <td>@Html.DisplayFor(x => x.Speciality)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Phone, new {@class = "label"})</td>
        <td>@Html.DisplayFor(x => x.Phone)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Tstamp, new { @class = "label" })</td>
        <td>@Html.DisplayFor(x => x.Tstamp)</td>
    </tr>
</table>

<p> @*renders links to methods located on ApptSchedController*@
    @Html.ActionLink("Back", "ApptSched", null, new {@class = "buttonstyle"}) &nbsp;
    @Html.ActionLink("Update", "Update", new {id = Model.id}, new {@class = "buttonstyle"})
    @Html.ActionLink("Delete", "Delete", new {id = Model.id}, new {@class = "buttonstyle"})
    @Html.ActionLink("Email", "Mail", "SendMailer", new { id = Model.id }, new { @class = "buttonstyle3" })
</p>


