@model NotreDameReBuildOfficial.Models.Appt_Book


@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h2>Edit Appointment</h2>
<br/>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.HiddenFor(x => x.id)

    <table>
        <tr>
            <td>@Html.LabelFor(x => x.Fname)</td>
            <td>@Html.TextBoxFor(x => x.Fname, new { @class = "textbox" })</td>
            <td>@Html.ValidationMessageFor(x => x.Fname)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Lname)</td>
            <td>@Html.TextBoxFor(x => x.Lname, new {@class = "textbox"})</td>
            <td> @Html.ValidationMessageFor(x => x.Lname)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Phone)</td>
            <td>@Html.TextBoxFor(x => x.Phone, new { @class = "textbox" })</td>
            <td>@Html.ValidationMessageFor(x => x.Phone)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Email)</td>
            <td>@Html.TextBoxFor(x => x.Email, new { @class = "textbox" })</td>
            <td>@Html.ValidationMessageFor(x => x.Email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.HealthNum)</td>
            <td>@Html.TextBoxFor(x => x.HealthNum, new {@class = "textbox"})</td>
            <td>@Html.ValidationMessageFor(x => x.HealthNum)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Speciality)</td>
            <td>
                @Html.DropDownListFor(model => model.Speciality, new[] {
        new SelectListItem() {Text = ""},
        new SelectListItem() {Text = "Diagnostic Imaging"},
        new SelectListItem() {Text = "Allergy"},
        new SelectListItem() {Text = "Cardiology"},
        new SelectListItem() {Text = "Physiotherapy"},
        new SelectListItem() {Text = "ENT"},
        new SelectListItem() {Text = "Gynecology"},
        new SelectListItem() {Text = "Neurology"},
        new SelectListItem() {Text = "Oncology"},
        new SelectListItem() {Text = "Orthopedy"},}, new { @class = "dropdown-list" })
        </td>
        <td>@Html.ValidationMessageFor(x => x.Speciality)</td>
    </tr>
        <tr>
            <td>@Html.LabelFor(x => x.BookDate)</td>
            <td>@Html.TextBoxFor(x => x.BookDate, new { @class = "textbox" })</td>
            <td>@Html.ValidationMessageFor(x => x.BookDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.BookTime)</td>
            <td>@Html.TextBoxFor(x => x.BookTime, new {@class = "textbox"})</td>
            <td>@Html.ValidationMessageFor(x => x.BookTime)</td>
        </tr>

    <tr>
        <td>@Html.LabelFor(x => x.AdditionalInfo)</td>
        <td>@Html.TextAreaFor(x => x.AdditionalInfo, new { @class = "description" })</td>
        <td>@Html.ValidationMessageFor(x => x.AdditionalInfo)</td>
    </tr>
    
</table>

    <p>
        <input type="submit" value="Update" class="buttonstyle"/>
    </p>
    @Html.ActionLink("Back", "ApptSched", null, new { @class = "buttonstyle" })
}

@*@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}*@


