@model NotreDameReBuildOfficial.Models.Applicant

@{
    ViewBag.Title = "Insert_Applicant";
}

<h2>Job Application</h2>

@using (Html.BeginForm("Insert_Applicant", "Applicant", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    
    @Html.HiddenFor(x => x.id)
    <div class="job-app">
        <span>@ViewBag.JobPostingTitle</span>
    </div>

        <div class="details_lbl">
            @Html.LabelFor(model => model.first_name)
        </div>
        <div>
            @Html.TextBoxFor(model => model.first_name, new { @class = "frm_insert" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.first_name)
        </div>

        <div class="details_lbl">
            @Html.LabelFor(model => model.last_name)
        </div>
        <div>
            @Html.TextBoxFor(model => model.last_name, new { @class = "frm_insert" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.last_name)
        </div>

        <div class="details_lbl">
            @Html.LabelFor(model => model.email)
        </div>
        <div>
            @Html.TextBoxFor(model => model.email, new { @class = "frm_insert" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="details_lbl">
            @Html.LabelFor(model => model.phone)
        </div>
        <div>
            @Html.TextBoxFor(model => model.phone, new { @class = "frm_insert" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <div class="details_lbl">
            @Html.LabelFor(model => model.city)
        </div>
        <div>
            @Html.TextBoxFor(model => model.city, new { @class = "frm_insert" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.city)
        </div>

        <div class="details_lbl">
            @Html.LabelFor(model => model.province)
        </div>
        <div>
            @Html.TextBoxFor(model => model.province, new { @class = "frm_insert" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.province)
        </div>

        <div class="details_lbl">
            @Html.LabelFor(model => model.postal_code)
        </div>
        <div>
            @Html.TextBoxFor(model => model.postal_code, new { @class = "frm_insert" })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.postal_code)
        </div>

        <div class="details_lbl">
            @Html.LabelFor(model => model.resmue)
        </div>
        <div>
            <input type="file" id="file" name="upload" />
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.resmue)
        </div>

        
         <div class="hidden">
        @Html.HiddenFor(model => model.job_posting_id)
         </div>

        <div>
            <input id="btnAdd" type="submit" value="Apply" class="btn-add" />
            @Html.ActionLink("Cancel", "JobPosting", "JobPosting", null, new { @class = "btn_cancel" }) 
        </div>
}
