@model IEnumerable<NotreDameReBuildOfficial.Models.subNavigation>
@{
    ViewBag.Title = "navInfo";

    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h1>Public Navigation</h1>
<h2>Sub Page Information</h2>

<table>
    <thead>
        <tr>
            <th>Pages</th>
        </tr>
    </thead>

    @foreach (var snav in Model)
    {
        <tr>
            <td>@snav.title</td>
            <td>@Html.ActionLink("View", "navInfo", new { id = snav.id }) /@Html.ActionLink("Update", "subNavUpdate", new { id = snav.id }) / @if (snav.deletable == 1) { @Html.ActionLink("Delete", "subNavDelete", new { id = snav.id })}</td>
        </tr>
    }

</table>


<a href='@Url.Action("insertSubNav", "nav")'>
    <span class="buttonstyle">+ Add Sub Navigation</span>
</a>