@model IEnumerable<NotreDameReBuildOfficial.Models.navigation>
@{
    ViewBag.Title = "navList";

    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h1>Public Navigation</h1>
<h2>Created Navigation List</h2>

<table>
    <thead>
        <tr>
            <th>Pages</th>
            <th>Sub Pages</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>

    @foreach (var nav in Model)
    {
        <tr>
            <td>@nav.title</td>
            <td><a href='@Url.Action("navInfo", "nav", new { id = nav.id })'><i class="fa fa-external-link-square fa-lg"></i></a></td>
            <td><a href='@Url.Action("navUpdate", "nav", new { id = nav.id })'><i class="fa fa-pencil fa-lg"></i></a></td>
            <td>@if (nav.deletable == 1)
            { <a href='@Url.Action("navDelete", "nav", new { id = nav.id })'><i class="fa fa-trash-o fa-lg"></i></a>}</td>
        </tr>
    }

</table>

<br />
<br />
<a href='@Url.Action("insertNav", "nav")'>
    <span class="buttonstyle">+ Add Navigation</span>
</a>
