@model IEnumerable<NotreDameReBuildOfficial.Models.populatePublicNav>

@{
    ViewBag.Title = "popNav";
}

@{
    List<string> main = new List<string>();

    foreach (var x in Model)
    {
        main.Add(x.title);
    }

    IEnumerable<string> mainNav = main.Select(m => m).Distinct();


}
<ul>

    @foreach (var n in mainNav)
    {
        string title = @n.ToString();

        <li>
            <a href="#">@title.ToString()</a>
            <ul>
                @foreach (var x in Model)
                {

                    if (@x.title.Equals(title.ToString()))
                    {
                        if (@x.subNav == null)
                        { continue; }

                        //<li><a href="/@x.subNav.controller/@x.subNav.pageView">@x.subNav.title.ToString()</a></li>
                        <li>@Html.ActionLink(@x.subNav.title.ToString(), @x.subNav.pageView, @x.subNav.controller, new { id = @x.subNav.id }, null)</li>

                    }
                }
            </ul>
        </li>
    }
</ul>
