@model NotreDameReBuildOfficial.Models.staff_info
@{
    ViewBag.Title = "staffInfo";
}

<h1>staff Information</h1>
<table>
    <tr>
        <td>@Html.DisplayNameFor(x => x.staff_id)</td>
        <td>@Html.DisplayFor(x => x.staff_id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.firstname)</td>
        <td>@Html.DisplayFor(x => x.firstname)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.lastname)</td>
        <td>
            @Html.DisplayFor(x => x.lastname)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.department)</td>
        <td>
            @Html.DisplayFor(x => x.department)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.role)</td>
        <td>
            @Html.DisplayFor(x => x.role)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.city)</td>
        <td>
            @Html.DisplayFor(x => x.city)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.province)</td>
        <td>
            @Html.DisplayFor(x => x.province)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.zip_code)</td>
        <td>
            @Html.DisplayFor(x => x.zip_code)
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Back", "staffList")
        </td>
    </tr>
</table>