@model IEnumerable<NotreDameReBuildOfficial.Models.Donation>

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

@*------------------------------------------------------------------
-------------------- PayPal Sandbox Credentials --------------------
For Donor 
Email : ndhdonor@gmail.com
Password : ndh13579

For Hospital Admin
Email : admin@notredame.ca
Password : ndh24681
--------------------------------------------------------------------
------------------------------------------------------------------*@

<h1>Manage Donations</h1>
<table id="donation-list">
    <thead>
        <tr>
            <th>Record No.</th>
            <th>Donor Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    @foreach (var donor in Model)
    {
        <tr>
            <td>@donor.donation_id</td>
            <td>@donor.last_name, @donor.first_name</td>
            <td>@donor.date.Value.ToString("MM/dd/yyyy")</td>
            <td>@donor.amount</td>
            <td>@Html.ActionLink("View", "Details", new { donation_id = donor.donation_id }) / @Html.ActionLink("Edit", "Update", new { donation_id = donor.donation_id }) / @Html.ActionLink("Delete", "Delete", new { donation_id = donor.donation_id })</td>
        </tr>
    }

</table>

<a href='@Url.Action("Insert", "cmsDonation")'>
    <span class="buttonstyle"><i class="fa fa-plus"></i>New Donation</span>
</a>
<a href='https://www.sandbox.paypal.com/ca/webapps/mpp/merchant' target="_blank" class="buttonstyle">
    <i class="fa fa-external-link"></i>Manage PayPal Account
</a>


