@model IEnumerable<NotreDameReBuildOfficial.Models.Event>


@foreach (var e in Model)
{
    <div class="event">

        @e.name

        <div class="clear"></div>

        @e.start_date.ToString("MMMM d")  @@ @e.start_time
        @if (e.end_time != null)
        {
            @:- @e.end_time
        }

        <div class="clear"></div>
        <a href='@Url.Action("Details", "cmsEventsListing", new { event_id = e.event_id, @class = "viewIcon" })'>
            <span><i class="fa fa-eye"></i>View</span>
        </a>
        |
        @Html.ActionLink("Edit", "Update", new { event_id = e.event_id })
        |
        @Html.ActionLink("Delete", "Delete", new { event_id = e.event_id })

    </div>

}

<div class="clear"></div>