@model IEnumerable<NotreDameReBuildOfficial.Models.Event>

<table>
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Date</th>
            <th class="iup-icons">View</th>
            <th class="iup-icons">Edit</th>
            <th class="iup-icons">Delete</th>
        </tr>
    </thead>

    @foreach (var e in Model)
    {
     
        <tr>
            <td>@e.name</td>
            <td>@e.start_date.ToString("MMMM d")  @@ @e.start_time
                @if (e.end_time != null){
                    @:- @e.end_time
                }
            </td>
            <td class="iup-icons">
                <a href='@Url.Action("Details", "cmsEventsListing", new { event_id = e.event_id })'><i class="fa fa-external-link-square fa-lg"></i></a>
            </td>
            <td class="iup-icons">
                <a href='@Url.Action("Update", "cmsEventsListing", new { event_id = e.event_id })'><i class="fa fa-pencil fa-lg"></i></a>
            </td>
            <td class="iup-icons">
                <a href='@Url.Action("Delete", "cmsEventsListing", new { event_id = e.event_id })'><i class="fa fa-trash-o fa-lg"></i></a>
            </td>
        </tr>
           

    }
</table>

<div class="clear"></div>