@model NotreDameReBuildOfficial.Models.Event

@{
    ViewBag.Title = "Insert Event";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
    
}

<h1>Insert New Event</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.approved, new { Value = 1 })
    
    <table class="plain">
        <tr>
            <td><span style="color:red">*</span>@Html.LabelFor(model => model.name)</td>
            <td>@Html.TextBoxFor(model => model.name, new { @class = "textbox" })
                @Html.ValidationMessageFor(model => model.name)</td>
        </tr>
        <tr>
            <td><span style="color:red">*</span>@Html.LabelFor(model => model.start_date)</td>
            <td>@Html.TextBoxFor(model => model.start_date, new { @class = "textbox datefield" })
                @Html.ValidationMessageFor(model => model.start_date)</td>
        </tr>
        <tr>
            <td><span style="color:red">*</span>@Html.LabelFor(model => model.start_time)</td>
            <td>@Html.TextBoxFor(model => model.start_time, new { @class = "textbox" })
                @Html.ValidationMessageFor(model => model.start_time)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.end_date)</td>
            <td>@Html.TextBoxFor(model => model.end_date, new { @class = "textbox datefield" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.end_time)</td>
            <td>@Html.TextBoxFor(model => model.end_time, new { @class = "textbox" })</td>
        </tr>
        <tr>
            <td><span style="color:red">*</span>@Html.LabelFor(model => model.description)</td>
            <td>@Html.TextAreaFor(model => model.description, new { @class = "textarea"})
                @Html.ValidationMessageFor(model => model.description)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.venue)</td>
            <td>@Html.TextBoxFor(model => model.venue, new { @class = "textbox" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.address)</td>
            <td>@Html.TextBoxFor(model => model.address, new { @class = "textbox" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.cost)</td>
            <td>@Html.TextBoxFor(model => model.cost, new { @class = "textbox" })</td>
        </tr>
        <tr>
            <td><span style="color:red">*</span>@Html.LabelFor(model => model.contact_name)</td>
            <td>@Html.TextBoxFor(model => model.contact_name, new { @class = "textbox" })
                @Html.ValidationMessageFor(model => model.contact_name)</td>
        </tr>
        <tr>
            <td><span style="color:red">*</span>@Html.LabelFor(model => model.contact_email)</td>
            <td>@Html.TextBoxFor(model => model.contact_email, new { @class = "textbox" })
                @Html.ValidationMessageFor(model => model.contact_email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.contact_phone)</td>
            <td>@Html.TextBoxFor(model => model.contact_phone, new { @class = "textbox" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.url)</td>
            <td>@Html.TextBoxFor(model => model.url, new { @class = "textbox" })</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.image)</td>
            <td>@Html.TextBoxFor(model => model.image, new { @class = "textbox" })</td>
        </tr>
    </table>

    <input type="submit" name="submit" value="Add New" class="buttonstyle">

    <a href='@Url.Action("Manage", "cmsEventsListing")'>
        <span class="buttonstyle">Cancel</span>
    </a>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

}
