@model IEnumerable<NotreDameReBuildOfficial.Models.Event>

@{
    ViewBag.Title = "cmsEventsListing";
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    @Scripts.Render("~/Scripts/cms-menu.js");
}

<h1>Manage Events</h1>

<h3>Current Events</h3>

@foreach (var e in Model)
{
    <div class="event">

        @e.name
        <div class="clear"></div>
        @e.start_date.ToString("MM/dd/yyyy")
        <div class="clear"></div>
        @Html.ActionLink("View", "Details", new { event_id = e.event_id })
        |
        @Html.ActionLink("Edit", "Update", new { event_id = e.event_id })
        |
        @Html.ActionLink("Delete", "Delete", new { event_id = e.event_id })
        <br /><br />

    </div>

}

<h3>Previous Events</h3>

<a href='@Url.Action("Insert", "cmsEventsListing")'>
    <span class="buttonstyle"><i class="fa fa-plus"></i>New Event</span>
</a>