@model IEnumerable<NotreDameReBuildOfficial.Models.Event>

<table>
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Date</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    @foreach (var e in Model)
    {
        <tr>
            <td>@e.name</td>
            <td>@e.start_date.ToString("ddd MMM d, yyyy")</td>
            <td>@Html.ActionLink("View", "Details", new { event_id = e.event_id })</td>
            <td>@Html.ActionLink("Edit", "Update", new { event_id = e.event_id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { event_id = e.event_id })</td>
        </tr>

    }

</table>